@import '../base/config.scss';
.cmr-home {	
	background-color: #fcfcfc;
	position:relative;
    .cmrlog-main{    	
	    .header-title{
			color:#fff;
			text-align: center;
	    }    	
	    .ant-layout-content{
	    	background-color: rgba(#fff,0.3);
	    	padding:0 50px;	  
	    	.content-info{
	    		background-color: #fcfcfc;
	    		border-radius: 8px;
	    		-webkit-border-radius: 8px;
	    		padding:6px 10px;
				border:2px solid #f0f0f0;				
	    	}  	
	    }
    }
}