@import '../base/config.scss';
.cmr-home {	
	background-color: #fcfcfc;
	position:relative;	
    .cmrlog-main{
	    .ant-layout-content{
	    	background-color: rgba(#fff,0.3);
	    	padding:0 50px;	  
	    	.content-info{
	    		background-color: #fcfcfc;
	    		border-radius: 8px;
	    		-webkit-border-radius: 8px;
	    		padding:6px 10px;
				border:2px solid #f0f0f0;
				.chapterInfo{
					.chapterUrl{
						font-size: 1.1rem;
						color:#000;
						font-weight: 900;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.chapterCount{
						display: inline-block;
						margin-left: 20px;
						.chapterText{
							display: inline-block;
							vertical-align: middle;
							position: relative;
							top: 0.023rem;
							margin-left: 2px;
						}
					}
					.chapterUser{
						font-size: 0.85rem;
						color:#909090;
					}
				}
	    	}  	
	    }
    }
}